# Semana 05
Vasquez Leyva Antony

# TEMAS:
1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadenas.

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#Universidad Nacional Tecnologica de Lima Sur
#01234.............                 ......-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
# Tambien considera los espacios.
cadena[11]

' '

In [6]:
# ¿Que me mostrara?
cadena[-5]

'a'

In [7]:
# Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [8]:
# Para mostrar un subcadena [desde, hasta una antes]
# em Java era substring()
cadena[3:8]

'versi'

In [9]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye los espacios en blanco
len(cadena)

44

In [10]:
# Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [11]:
# Ojo.. solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [12]:
# Si desearas cambiarlo harias: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [13]:
# Para mostrar una cadena en minusculas utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [14]:
# Generar una lista a partir de una cadena. split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [15]:
# Generar una lista utilizando un criterio de separacion a partir de una cadena. split()
# En este caso vamos a generar una lista de toda la cadena utilizando como griterio de separacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [17]:
# Forma clasica, concatenar con +
nombre = "Antony Vasquez"
print("Buenas tardes" + nombre)

Buenas tardesAntony Vasquez

In [18]:
# Utilizando el .format()
nombre = "Antony Omar"
edad = 22
print("Hola {} ya se que tienes {} años".format(nombre, edad))

HolaAntony Omar ya se que tienes 22 años

In [19]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [21]:
# Dar formato con f
# La función f está disponible desde la versión 3.6
nombre = "Antony Vasquez"
edad = 22
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Antony Vasquez, ya se que tienes 22 años

In [23]:
# Dar formato a número con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333