#  Semana 05
Vasquez Leyva Antony

# TEMAS:
1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [1]:
# 5.1 Operadores ariméticos
# Se tiene: +, -, *, /, **, %, //

In [2]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicación = numero1 * numero2
división = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicación)
print(división)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [3]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [4]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [5]:
#Lo mismo se puede hacer con todos los casos, incluso con la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero **3
print(numero)

125

In [6]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [7]:
# 5.3 Operadores de comparación 
# Se tiene: ==, !=, <, >, <=, >=

In [8]:
# Ejemplo de igualdad ==
numero1 = 5 
numero2 = 2
numero1 == numero2

False

In [10]:
# Con las cadenas funciona igual
nombre1 = "Antony"
nombre2 = "Antony"
nombre1 == nombre2

True

In [11]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [12]:
numero1 < numero2

True

In [13]:
# El not invierte el resultado
not(numero1 < numero2)

False

In [14]:
numero1<numero2 and numero3<numero4

True

In [15]:
# También puedes utilizar parentensis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [16]:
# 5.5 Operadores de pertenencia
# Se tiene: in, not in

In [17]:
#Miremos un ejemplo:
aula = ["Carlos", "Antony", "Raphael"]
alumno1 = "Diego"
alumno2 = "Carlos"

In [18]:
#¿Diego está en aula?
alumno1 in aula

False

In [19]:
# ¿Carlos está en aula?
alumno2 in aula

True

In [20]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [21]:
# ¿Carlos no está em aula?
alumno2 not in aula

False

In [22]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [23]:
aula1 = ["Carlos", "Antony", "Raphael"]
aula2 = ["Carlos", "Antony", "Raphael"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [24]:
#¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [25]:
#¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [26]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [27]:
aula1.append("Diego")

In [28]:
#Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Carlos', 'Antony', 'Raphael', 'Diego']

In [29]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Carlos', 'Antony', 'Raphael', 'Diego']

In [30]:
# Al immprimir los elementos de la lista aula2 se observa
print(aula2)

['Carlos', 'Antony', 'Raphael']